<!-- src/templates/email/p</div>artials/emailFooter.hbs -->
<div class='email-footer'>
  <p>© {{currentYear}} PTITHCM. All rights reserved.</p>
  <p>
    <a href='{{ptitHomepageUrl}}' target='_blank'>Trang chủ PTITHCM</a>
    |
    <a href='{{supportPageUrl}}' target='_blank'>Hỗ trợ</a>
  </p>
</div>